@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

/* Selectores (Universal) */
*{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Selectores (Etiqueta) */
body{
    background-color: #dcdcdc;
}

h1{
    color: #ffff00;
    text-align: center;
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
}

h1:hover{
    color: #000000;
}

p{
    color: #0000ff;
    font-family: 'Roboto Mono', monospace;
}

/* Selectores (Id) */
#parrafoVerde{
    color: #008000;
}

/* Selectores (Class) */
.parrafoRojo{
    color: #ff0000;
}

/* Selectores (Descendiente) */
div p{
    color: #8a2be2;
}
